appnope==0.1.3
asttokens==2.0.8
backcall==0.2.0
click==8.1.3
decorator==5.1.1
dlib==19.24.0
executing==1.0.0
face-recognition==1.3.0
face-recognition-models==0.3.0
ffmpeg-python==0.2.0
flake8==5.0.4
future==0.18.3
ipython==8.10.0
jedi==0.18.1
matplotlib-inline==0.1.6
mccabe==0.7.0
numpy==1.23.3
opencv-python==4.6.0.66
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.3.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.15.0
six==1.16.0
stack-data==0.5.0
tqdm==4.66.3
traitlets==5.4.0
wcwidth==0.2.5
